#root {
    text-align: center;
    padding: 30px;
}

#add-image {
    padding: 30px;
}

.children-container {
    top: 20px;
    display: block;
    padding: 20px;
    width: 100%;
}

.children-container > .user-box {
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 100px;
    padding: 20px;
}

.user-box > div {
    border: 1px black solid;
    height: 180px;
    padding: 10px;
}